<style>
button{
    border-radius: 50px;
    color: chocolate;
    background-color: darkblue;
    padding: 8px;
    m
}
</style>


<form action="/celebrities/create" method="POST">
<label for="">
    name
    <input type="text" name="name">
    occupation
    <input type="text" name="occupation">
    catchphrase
    <input type="text" name="catchphrase">
</label>

<button type="submit"> new celebrity</button>

</form>