<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{word}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div>
  <a href="/celebrities/create">Create a celebrity</a>

<a href="/celebrities"> list of celebrity </a>

<a href="/movies"> movies</a>

<a href="/movies/create"> create a movie</a>
</div>
<br>
    <div class="container">
      {{{body}}}
    </div>


    <script src="/javascripts/script.js"></script>
  </body>

</html>