<h2> List of all movies</h2>

<style>
    h2{
        font-family: serif;
        font-size:50px
    }
</style>

{{#each allCelebrities}}

<h3> {{title}} </h3>
<a href="/movies/{{_id}}">link to movie</a>
{{/each}}


